{% extends "base.html" %}
{% block title %} - Subreddits{% endblock %}
{% block nav_dir %}active{% endblock %}

{% import "directory_macro.html" as directory %}

{% block content %}
	<div id="directory" class="container buffer">
		<ul class="breadcrumb">
			<li><a href="{{ url_for("subreddits_directory_home") }}"><i class="fa fa-home"></i></a></li>
			{% for crumb in breadcrumbs %}
			<li><a href="/subreddits/{{ "/".join(crumb.key.id().split("_")[1:]) }}/">{{ crumb.display_name }}</a></li>
			{% endfor %}
		</ul>
		<h1>{{ category.display_name }}</h1>
		<div class="row buffer">
			<div class="col-md-8">
				{% if subreddits %}
				{% for s in subreddits %}
				<div class="panel panel-default subreddit-listing">
					<div class="panel-heading">
						<h3 class="heading"><a href="{{ url_for("subreddit", subreddit_name=s.display_name) }}">/r/{{ s.display_name }}</a></h3>
					</div>
					<div class="panel-body">
						<div class="title">{{ s.title|markdown }}</div>
						<div class="text-muted">{{ s.public_description|markdown }}</div>
						<ul class="list-inline">
							<li>{{ '{0:,}'.format(s.subscribers | int) }} subscribers</li> 
							<li>created {{ s.created_utc | time_since }} ago</li>
						</ul>
					</div>
				</div>
				{% endfor %}
				<ul class="pager">
					{% if prev %}
					<li class="previous"><a href="?c={{ prev }}&p=1"><i class="fa fa-arrow-circle-left"></i> Previous</a></li>
					{% endif %}
					{% if next %}
					<li class="next"><a href="?c={{ next }}">Next <i class="fa fa-arrow-circle-right"></i></a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col-md-4">
				{% endif %}
				{% if cat_tree and subreddits %}
				<h2>More in {{ category.display_name }}</h2>
				{% endif %}
				{% for category in cat_tree %}
						{% set level = category["id"].split("_")|length - 1 %}
						{{ directory.display_category(category,level) }}
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}