{% macro display_category(category, level=1) -%}
    <ul class="list-inline">
    	{% set cat_levels = category["id"].split("_") %}
    	{% if level>1 and category["display_name"] %}
    	<li>
    		<a href="{{ url_for('subreddits_directory_category', level1=cat_levels[1], level2=cat_levels[2] if cat_levels|length>=3 else None, level3=cat_levels[3] if cat_levels|length>=4 else None) }}">
    			<h4 class="cat{{ level }}-heading {{ 'btn-primary' if level==2 else 'btn-info' }}">{{ category["display_name"] }}</h4>
    		</a>
    	</li>
    	{% endif %}
		{% set i = 0 %}
		{% for child in category["children"] %}
			{% if "children" not in child %}
				{% if child["id"] == "more_subs" and child["count"]>0 %}
					<li>+{{ child["count"] }} more in <a href="{{ url_for('subreddits_directory_category', level1=cat_levels[1], level2=cat_levels[2] if cat_levels|length>=3 else None, level3=cat_levels[3] if cat_levels|length>=4 else None) }}">{{ category["display_name"] }}</a></li>
				{% elif not child["count"] and child["id"] != "more_subs" %}
					<li><a href="{{ url_for("subreddit", subreddit_name=child["display_name"]) }}">/r/{{ child["display_name"] }}</a></li>
				{% endif %}
			{% else %}
				{% set i = i + 1 %}
				{% if child["id"] == "more_cats" and child["count"]>0 %}
				<li>+{{ child["count"] }} more in <a href="{{ url_for('subreddits_directory_category', level1=cat_levels[1], level2=cat_levels[2] if cat_levels|length>=3 else None, level3=cat_levels[3] if cat_levels|length>=4 else None) }}">{{ category["display_name"] }}</a></li>
				{% elif not child["count"] and i<=5 %}
				<li class="cat{{ level+1 }}">
					<ul class="list-inline">
						<li>
							{{ display_category(child,level+1) }}
						</li>
					</ul>
				</li>
				{% elif "display_name" in child %}
				<li>
					{% set child_levels = child["id"].split("_") %}
					<a href="{{ url_for('subreddits_directory_category', level1=child_levels[1], level2=child_levels[2] if child_levels|length>=3 else None, level3=child_levels[3] if child_levels|length>=4 else None) }}">
						<h4 class="cat{{ level+1 }}-heading {{ 'btn-primary' if level==1 else 'btn-info' }}">{{ child["display_name"] }}</h4>
					</a>
				</li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
{%- endmacro %}