{% extends "base.html" %}
{% block title %} - reddit user and subreddit analytics{% endblock %}
{% block meta_description %}User statistics for your reddit account - see your reddit account summary, comments and submissions statistics and more.{% endblock %}
{% block nav_home %}active{% endblock %}

{% import "snoopsnoo_macros.html" as snoopsnoo_macros %}

{% block content %}
        <div class="bg-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <section id="main">
                            <div class="jumbotron">
                                {% set title = ["Analyze this.", "You are what you post."]|random %}
                                <h1 class="purple">{{ title }}</h1>
                                <p>Enter your username below and get insights on your reddit activity.</p>
                                <p><small>Not ready yet? <a href="/random-user">View a random redditor's profile.</a></small></p>
                                <div class="row margin-20">
                                    <form id="process_form">
                                        <div class="col-md-6 col-s-6 col-xs-6">
                                            <input type="text" class="form-control" id="username" name="username" placeholder="reddit username">
                                        </div>
                                        <div class="col-md-6 col-s-6 col-xs-6">
                                            <button id="go" type="submit" class="btn btn-primary" disabled="disabled" data-loading-text="Analyzing <i class='fa fa-spinner fa-spin'></i>">Go</button>
                                        </div>
                                    </form>
                                </div>
                                <p><small>(Sit tight. This might take up to a minute.)</small></p>
                                <div id="error" class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="alert alert-dismissable alert-danger">
                                            <button type="button" class="close" data-hide="alert">×</button>
                                            <span id="error-message"></span>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="margin-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <section id="announcements" class="bottom-buffer">
                            <h2>Show off your snoovatar!</h2>
                            <p class="margin-btm-20">{{ snoopsnoo_macros.logo_small() }} now shows your snoovatar! Another perk of your hard-earned reddit gold.</p>
                            <p><img class="img-responsive" style="border:1px solid #ccc;" src="http://i.imgur.com/OL5bvL1.png" width="300" alt="SnoopSnoo now shows your snoovatar!" title="SnoopSnoo now shows your snoovatar!"></p>
                        </section>
                    </div>

                    <div class="col-md-6">
                        <h2>Explore Subreddits</h2>
                        <p>Introducing the {{ snoopsnoo_macros.logo_small() }} <a href="{{ url_for('subreddits_home') }}">subreddits directory</a> &mdash; a different way to browse and discover new subreddits. Thousands of subreddits categorized by topic to help you find exactly what you are looking for.</p>
                        <p><a href="{{ url_for('subreddits_home') }}">Check it out now!</a></p>

                        <h2><strong>New</strong>: Subreddit Recommendations</h2>
                        <p>{{ snoopsnoo_macros.logo_small() }} shows you recommended subredits specifically tailored for you based on your activity. Get out of the default zone and try something new. Happy redditing!</p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(function () {
                home_init();
            });
        </script>

{% endblock %}