{% extends "base.html" %}

{% block title %} - {% for crumb in breadcrumbs %}{{ crumb.display_name }}{%if not loop.last %} > {% endif %}{% endfor %} subreddits | {{ '{0:,}'.format(subreddit_count | int) }} subreddits in {{category.display_name}}{% if subreddits %} | /r/{{subreddits[0].display_name}} - /r/{{subreddits[-1].display_name}}{% endif %}{% endblock %}

{% block meta_description %}{{ '{0:,}'.format(subreddit_count | int) }} {% for crumb in breadcrumbs %}{{ crumb.display_name }}{%if not loop.last %} > {% endif %}{% endfor %} subreddits on reddit{% if subreddits %} - {{subreddits | length}} subreddits on this page (/r/{{subreddits[0].display_name}} - /r/{{subreddits[-1].display_name}}){% endif %}. Browse and find thousands of subreddits categorized by topics.{% endblock %}


{% block nav_subreddits %}active{% endblock %}

{% import "snoopsnoo_macros.html" as snoopsnoo_macros %}

{% block content %}
    <div class="container margin-20">
        {{ snoopsnoo_macros.subreddits_breadcrumbs(breadcrumbs) }}
        <div class="row">
            <div class="col-md-9">
                <h2 class="no-top-margin margin-btm-20">
                    <a href=".">
                        <span class="category-heading">{{ category.display_name }}</span>
                    </a>
                    <span class="margin-lft-10 tiny text-muted text-lowercase">({{ '{0:,}'.format(subreddit_count | int) }} subreddits)</span>
                </h2>
                {% if subreddits %}
                    {% for subreddit in subreddits %}
                        {{ snoopsnoo_macros.subreddit_listing(subreddit, all_subreddit_categories, subreddit_page=False) }}
                    {% endfor %}
                    <ul class="pager">
                        {% if prev %}
                        <li class="previous"><a href="?c={{ prev }}&p=1"><i class="fa fa-arrow-circle-left"></i> Previous</a></li>
                        {% endif %}
                        {% if next %}
                        <li class="next"><a href="?c={{ next }}">Next <i class="fa fa-arrow-circle-right"></i></a></li>
                        {% endif %}
                    </ul>
                {% else %}
                    {% if cat_tree|length %}
                    <div class="category-listing">
                        {{ snoopsnoo_macros.subreddits_category({"children":cat_tree}) }}
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-3">
                {% if trending_subs_in_cat %}
                <div class="list-group">
                    <div class="list-group-item active">
                        Trending in {{ category.display_name }}
                    </div>
                    {% for sub in trending_subs_in_cat %}
                    <a href="{{ url_for("subreddit", subreddit_name=sub["display_name"]) }}" class="list-group-item">
                        <span class="text-primary">/r/{{ sub["display_name"] }}</span>
                        {% if sub["over18"] %}
                        <span class="margin-lft-5 flair-danger">NSFW</span>
                        {% endif %}
                        <span class="small pull-right">{{ '{0:+,}'.format(sub["growth_1_day"] | int) }} <i class="fa fa-arrow-up"></i></span>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if cat_tree and subreddits %}
                <div class="list-group">
                    <div class="list-group-item active">
                        More in {{ category.display_name }}
                    </div>
                    <div class="list-group-item small">
                        <div class="category-listing">
                        {{ snoopsnoo_macros.subreddits_category({"children":cat_tree}) }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {{ snoopsnoo_macros.topics_menu(root["children"]) }}
            </div>
        </div>
    </div>
{% endblock %}