{% extends "base.html" %}
{% block title %} - Subreddits : {{category.display_name}}{% endblock %}
{% block nav_subreddits %}active{% endblock %}

{% import "snoopsnoo_macros.html" as snoopsnoo_macros %}

{% block content %}
	<div class="container margin-20">
		{{ snoopsnoo_macros.subreddits_breadcrumbs(breadcrumbs) }}
		
		<div class="row">
			<div class="col-md-8 margin-btm-20">
				<h2>{{ category.display_name }}</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				{% if subreddits %}
				{% for subreddit in subreddits %}
					{{ snoopsnoo_macros.subreddit_listing(subreddit, all_subreddit_categories, external_link=False) }}
				{% endfor %}
				<ul class="pager">
					{% if prev %}
					<li class="previous"><a href="?c={{ prev }}&p=1"><i class="fa fa-arrow-circle-left"></i> Previous</a></li>
					{% endif %}
					{% if next %}
					<li class="next"><a href="?c={{ next }}">Next <i class="fa fa-arrow-circle-right"></i></a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col-md-4">
				{% endif %}
				{% if cat_tree and subreddits %}
				<h3 class="big margin-btm-20"><strong>More in {{ category.display_name }}</strong></h3>
				{% endif %}
				<div class="category-listing">
				{% for category in cat_tree %}
						{% set level = category["id"].split("_")|length - 1 %}
						{{ snoopsnoo_macros.subreddits_category(category,level) }}
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}