{% extends "base.html" %}
{% block title %} - /r/{{subreddit.display_name}} {% endblock %}
{% block nav_subreddits %}active{% endblock %}

{% import "snoopsnoo_macros.html" as snoopsnoo_macros %}

{% block content %}
	<div class="container margin-20">
		{{ snoopsnoo_macros.subreddits_breadcrumbs(breadcrumbs) }}

		<div class="row">
			<div class="col-md-8">
				{{ snoopsnoo_macros.subreddit_listing(subreddit, all_categories) }}

				<div id="subreddit-frontpage" class="subreddit-frontpage">
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default related-subreddits">
					<div class="panel-heading big text-lowercase">
						Related Subreddits
					</div>
					<div class="panel-body">
						<ul class="list-inline">
						{% for r in related_subreddits %}
							<li><a href="{{ url_for("subreddit", subreddit_name=r.display_name) }}">/r/{{ r.display_name }}</a></li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	$(function () {
		var sub_url = "http://www.reddit.com/r/{{ subreddit.display_name}}.json";
	    $.ajax({
	        url: sub_url,
	        timeout: 5000,
	    }).done(function(data) {
	    	$.ajax({
		        url: "/subreddit_frontpage",
		        type: "POST",
		        contentType: "application/json",
		        data: JSON.stringify(data),
		    }).done(function(response) {
		    	$("#subreddit-frontpage").html(response);
		    });	        
	    }).fail(function(jqXHR, status_text, error_thrown) {
	    });
	});
	</script>
{% endblock %}