{% extends "base.html" %}
{% block title %} - /u/{{ user.username}}{% endblock %}

{% block content %}
		<div id="user-results-loading" class="container text-center buffer">
			<big>loading <i class="fa fa-spinner fa-spin"></i></big>
		</div>

		<div id="user-results" class="container">
			<h3 class="buffer"><a href="http://www.reddit.com/user/{{ user.username }}" target="_blank">/u/{{ user.username }}</a></h3>

	        <div class="row">
	        	<div id="summary" class="col-md-6 bottom-buffer">
	        		<h4>Summary</h4>
	        		<h5>Your best, your worst and the basics.</h5>
	        		<h6>Limited to the most recent 1000 submissions and comments.</h6>
	        		
	        		<div class="row">
	        			<div class="col-md-4">
	        				<p class="text-muted">redditor since</p>
	        			</div>
	        			<div class="col-md-8">
	        				<p><strong><span id="data-signup_date"></span></strong></p>
	        				<p><small><span id="data-signup_date_humanized"></span></small></p>
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-4">
	        				<p class="text-muted">first post on</p>
	        			</div>
	        			<div class="col-md-8">
	        				<p><strong><span id="data-first_post_date"></span></strong></p>
	        				<p><small><span id="data-first_post_date_humanized"></span> after signup</small></p>
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-4">
	        				<p class="text-muted">longest you've been off reddit since first post</p>
	        			</div>
	        			<div class="col-md-8">
	        				<p><strong><span id="data-lurk_period_humanized"></span></strong></p>
	        				<p><small><span id="data-lurk_period_dates"></span></small></p>
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-4">
	        				<p class="text-muted">gilded</p>
	        			</div>
	        			<div class="col-md-8">
	        				<p><span id="data-submissions_gilded"></span> and <span id="data-comments_gilded"></span></p>
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-4">
	        				<p class="text-muted">submission karma</p>
	        			</div>
	        			<div class="col-md-8">
	        				<p><strong><span id="data-submission_karma"></span></strong> <i class="text-muted fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Total karma for up to 1000 submissions. Karma reported by reddit may be different."></i> from <strong><span id="data-total_submissions"></span></strong> submissions</p>
	        				<p><strong><span id="data-average_submission_karma"></span></strong> average karma per submission</p>
	        				<p><strong><span id="data-reddit_submission_karma"></span></strong> total submission karma reported by reddit.</p>
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-4">
	        				<p class="text-muted">comment karma</p>
	        			</div>
	        			<div class="col-md-8">
	        				<p><strong><span id="data-comment_karma"></span></strong> <i class="text-muted fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Total karma for up to 1000 comments. Karma reported by reddit may be different."></i> from <strong><span id="data-total_comments"></span></strong> comments</p>
	        				<p><strong><span id="data-average_comment_karma"></span></strong> average karma per comment</p>
	        				<p><strong><span id="data-reddit_comment_karma"></span></strong> total comment karma reported by reddit.</p>
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-4">
	        				<p class="text-muted">best comment</p>
	        			</div>
	        			<div class="col-md-8">
	        				<p><span id="data-best_comment"></span></p>
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-4">
	        				<p class="text-muted">worst comment</p>
	        			</div>
	        			<div class="col-md-8">
	        				<p><span id="data-worst_comment"></span></p>
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-4">
	        				<p class="text-muted">best submission</p>
	        			</div>
	        			<div class="col-md-8">
	        				<p><span id="data-best_submission"></span></p>
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-4">
	        				<p class="text-muted">worst submission</p>
	        			</div>
	        			<div class="col-md-8">
	        				<p><span id="data-worst_submission"></span></p>
	        			</div>
	        		</div>
	        	</div>

	        	<div id="synopsis" class="col-md-6 bottom-buffer">
	        		<h4>synopsis</h4>
	        		<h5>Accuracy or making sense not guaranteed.</h5>
	        		<h6>You can help by using the <i class="fa fa-check-circle-o"></i> and <i class="fa fa-times-circle-o"></i> feedback buttons below. Uncertain data is <span class="likely">in orange.</span></h6>

	        		<div id="synopsis-data">
	    			</div>
				</div>
	        </div>

	        <div class="row">
	        	<div class="col-md-6 text-center bottom-buffer">
	        		<h4>Posts Across Topics</h4>
	        		<h5>Look at you, how versatile!</h5>
	        		<h6>Hover over the chart for more info.</h6>
					<div id="data-topics_legend"></div>
					<div id="data-topics"></div>
	        	</div>

	        	<div class="col-md-6 text-center bottom-buffer">
	        		<h4>Common Words in Posts</h4>
	        		<h5>Impressive vocabulary.</h5>
	        		<h6>Size of a word is directly proportional to its frequency.</h6>
	        		<p id="top-words-count">Showing all words. Drag slider below to exclude top words.</p>
	        		<div id="top-words-slider"></div>
	        		<div id="data-common_words"></div>
	        	</div>
	        </div>
	        
	        <div class="row">
	        	<div class="col-md-12 text-center bottom-buffer">
	        		<h4>Activity Over Time</h4>
	        		<h5>Further proof that you have no life outside of reddit?</h5>
	        		<h6>Hover over the circles for more info.</h6>
					<div id="data-activity_date"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 text-center bottom-buffer">
					<h4>Activity by Weekday</h4>
					<h5>Have you tried /r/outside?</h5>
					<h6>Hover over the bars for more info.</h6>
					<div id="data-activity_weekday"></div>
				</div>

	        	<div class="col-md-6 text-center bottom-buffer">
					<h4>Activity by Time of Day</h4>
					<h5>Do you even sleep, bro?</h5>
					<h6>Hover over the bars for more info.</h6>
					<div id="data-activity_hour"></div>
				</div>
			</div>

			<div class="row">
	        	<div class="col-md-12 text-center bottom-buffer">
					<h4>Activity Across Subreddits</h4>
					<h5>Only a few hundred thousand more to go.</h5>
					<h6>Click to zoom in. Click again to zoom out. Hover for more info.</h6>
					<form id="posts_by_sub_control">
					  <label><input type="radio" name="mode" value="posts" checked> posts</label>
					  <label><input type="radio" name="mode" value="karma"> karma</label>
					</form>
					<div id="data-posts_by_subreddit"></div>
				</div>
			</div>

			<div class="row">
	        	<div class="col-md-6 text-center bottom-buffer">
	        		<h4>Submissions By Type and Domain</h4>
	        		<h5>You're quite the surfer.</h5>
	        		<h6>Hover over the chart for more info.</h6>
	        		<h3 id="no-submissions" class="buffer">No submission data</h3>
					<div id="data-submissions"></div>
					<div id="data-submissions_legend"></div>
	        	</div>
	        	
	        	<div class="col-md-6 text-center bottom-buffer" id="posts_words">
	        		<h4>Text in Posts</h4>
	        		<h5>Words, oh so many words.</h5>
	        		<h6>Time spent calculated using average of 40 WPM.</h6>
	        		<p><big>total words in your posts</big></p>
	        		<h3 class="text-success" id="data-total_word_count"></h3>
	        		<p><big>unique words</big></p>
	        		<h3 class="text-success" id="data-unique_word_count"></h3>
	        		<p><big>time spent typing posts</big></p>
	        		<h3 class="text-success" id="data-hours_typed"></h3>
	        		<p><big>karma per word</big></p>
	        		<h3 class="text-success" id="data-karma_per_word"></h3>
	        	</div>
	        </div>
		</div>

		{% autoescape false %}
		<script>
		var results=JSON.stringify({{ data }});
		$(function () {
			user_init();
			$("[data-toggle='tooltip']").tooltip(); 
		});
		</script>
		{% endautoescape %}
{% endblock %}