
		<div class="sidebar-section">
			<h2>About</h2>
			<p><span class="logo logo-small">SNOOP <img src="{{ ASSET_PATH }}/img/logo_md.png"> SNOO</span>'s development blog. Feature announcements, development updates and thoughts on new ideas. </p>
		</div>

		<div class="sidebar-section">
			<h2>Recent Posts</h2>
			<ul class="list-unstyled">
				{% for post in site.posts %}
				<li>
					<a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
					<small>{{ post.date | date_to_string }}</small>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="sidebar-section">
			<h2>Subscribe</h2>
			<ul class="list-unstyled">
				<li><a href="/rss.xml"><i class="fa fa-rss"></i> RSS</a></li>
			</ul>
		</div>
		
		<div class="sidebar-section">
			<h2>On Reddit</h2>
			<p><a href="http://www.reddit.com/r/SnoopSnoo">/r/SnoopSnoo</a></p>
		</div>