/* Bootstrap overrides */

.navbar {
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 24px;
}

.container .jumbotron {
  padding:15px 0px;
  background:none;
}

.jumbotron p {
  font-weight: 400;
}

.jumbotron h1 {
  font-size: 40px;
  color:#9c27b0;

}

.jumbotron p small {
  font-size: 14px;
}

h2 {
  text-transform: uppercase;
  color: #9c27b0;
}

.list-inline li {
  margin-bottom: 5px;
}

/* Custom */

.big {
  font-size: 110%;
}

.bigger {
  font-size: 120%;
}

.small {
  font-size: 90%;
}

.smaller {
  font-size: 80%;
}

.bg-container {
  background-color: #CFD5E1;
}

.margin-20 {
  margin-top:20px;
  margin-bottom: 20px;
}

.margin-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-btm-15 {
  margin-bottom: 15px;
}

.margin-btm-20 {
  margin-bottom: 20px;
}

.margin-btm-40 {
  margin-bottom: 40px;
}

.margin-lft-10 {
  margin-left: 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

#error {
  display: none;
  font-weight: 400;
}

.highlight {
  background-color: #FFCD5A;
  padding: 10px;
}

.logo {
  font-weight: 400;
  color: #222;
  text-transform: uppercase;
}

.logo img {
  display: inline-block;
  vertical-align: baseline;
}

.logo-small img {
  height:10px;
}

.purple {
  color:#9c27b0;
}

.no-top-margin {
  margin-top: 0px;
}

#footer {
  font-size:12px;
  margin-top: 40px;
  padding-top: 10px
}

.page-error {
  margin:40px auto;
}

/* Custom - Profile */

#user-results {
  margin-top: 10px;
  opacity: 0.2;
}

#user-results h3 {
  color: #666;
  margin-top:10px;
}

#user-results h4 {
  display: block;
  color: #999;
  margin-bottom: 30px;
  line-height: 16px;
}

#summary {
  overflow: hidden;
}

#summary .row, #synopsis .row {
  margin-bottom:15px;
}

#synopsis .row {
  line-height: 25px;
}

.data-block {
  display:block;
  margin-bottom: 10px;
}

.data-block a {
  margin-right: 5px;
}

.feedback a, .share a, .permalink a {
  color: #999;
  text-decoration: none;
}

.feedback a:hover, .share a:hover, .permalink a:hover {
  color: #333;
}

.feedback .correct:hover, .feedback .correct_done {
  color:#28b62c;
}

.feedback .incorrect:hover, .feedback .incorrect_done {
  color:#ff4136;
}

.thanks {
  background-color: #28b62c;
  color: #fff;
  padding:2px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.data-block .content, .likely {
  background:#158cba;
  font-weight: 500;
  color:#fff;
  padding:2px 5px;
  margin-right: 5px;
  white-space: nowrap;
}

.likely {
  background:#ff851b;
}

.ui-slider {
    width: 400px;
    margin: 20px auto;
}

#data-recent_activity svg {
  border-bottom: 1px solid #999;
}

.heatmap-sample {
  background: url('../img/heatmap-sample.png') no-repeat center center;
  min-width: 500px;
  min-height: 336px;
  margin: auto;
  padding:120px 0px;
}

.permalink {
  margin:0px 5px;
}

#posts_by_sub_control label {
  margin-right: 10px;
  margin-bottom: 10px;
}

#posts_by_sub_control label input {
  margin-right: 2px;
}

/* Custom - Subreddit Frontpage */

.subreddit-frontpage {
  font: normal x-small verdana,arial,helvetica,sans-serif;
}

.subreddit-frontpage a {
  color: blue;
}

.subreddit-frontpage .stickied a {
  color: #228822;
  font-weight: bold;
}

.subreddit-frontpage .vote, .subreddit-frontpage .thumbnail, .subreddit-frontpage .title {
  display: table-cell;
  margin-bottom: 10px;
  vertical-align: top;
}

.subreddit-frontpage .title p {
  color: #888;
}

.subreddit-frontpage .thumbnail {
  width: 70px;
}

.subreddit-frontpage .placeholder_thumbnail {
  background-image: url("/static/img/sprite-reddit.png");
  width: 70px;
  height: 50px;
  background-position: 0px -491px;
  background-repeat: no-repeat;
}

.subreddit-frontpage .domain {
  display: inline;
  font-size: x-small;
  color: #888;
  padding-left: 5px;
  vertical-align: baseline;
}

.subreddit-frontpage .post {
  display: block;
  margin-bottom: 25px;
  clear: both;
}

.subreddit-frontpage .comments, .subreddit-frontpage .comments a  {
  color:#888;
  font-weight: bold;
}

.subreddit-frontpage .author {
  color:#369
}

.subreddit-frontpage .vote {
  font-size:small;
  font-weight: bold;
  color:#c6c6c6;
  text-align: center;
  width: 50px;
}

.subreddit-frontpage .score {
  padding:2px 0px;
}

.subreddit-frontpage .title {
  padding: 0px 10px;
  vertical-align: top;
}

.subreddit-frontpage .title .title-text {
  display: table-cell;
  padding-bottom: 5px;
}

.subreddit-frontpage .title h3 {
  margin:0px 0px 5px 0px;
  display: inline;
}

.subreddit-frontpage .title p {
  margin-bottom: 5px;
}

.subreddit-frontpage .vote .arrow {
  width: 15px;
  height: 14px;
  margin-left: auto;
  margin-right: auto;
}

.subreddit-frontpage .vote .up {
  background-image: url("/static/img/sprite-reddit.png");
  background-position: -42px -818px;
  background-repeat: no-repeat;
}

.subreddit-frontpage .vote .down {
  background-image: url("/static/img/sprite-reddit.png");
  background-position: 0px -818px;
  background-repeat: no-repeat;
}

/* Custom - Subreddit Listing */
.subreddit-listing {
  margin-bottom: 40px;
}

.subreddit-listing .title {
  font-weight: bold;
}

.subreddit-listing h1, .subreddit-listing h2, .subreddit-listing h3, .subreddit-listing h4, .subreddit-listing h5 {
  text-transform: none;
  color: #666;
  font-size: 14px;
}

.subreddit-listing .toolbar {
  margin-top: 20px;
}

.subreddit-listing .toolbar li {
  margin-bottom: 5px;
  text-transform: lowercase;
}

.subreddit-listing .toolbar .popover {
  min-width: 400px;
  padding:10px;
  text-transform: none;
}

.related-subreddits li {
  margin-bottom: 5px;
}

/* Custom - Subreddits Directory */

.intro-items li {
  margin-bottom: 15px;
}

.intro-items li .icon {
  margin-right: 10px;
  vertical-align: middle;
} 

.category-listing {
  margin-bottom: 40px;
}

.category-listing .list-inline li {
  margin-bottom: 5px;
}

.category-level1 {
  padding:5px;
  border:1px solid #75caeb;
}

.category-level2 {
  display:block !important; 
  margin-top:15px !important;
  margin-bottom: 30px !important;
}

.category-level2-heading {
  background-color: #158cba;
  padding:5px;
  text-transform: uppercase;
  margin-top:5px;
  margin-bottom: 0px;
}

.category-level3 {
  display:block !important;
  margin:10px 0px;
}

.category-level3-heading {
  background-color: #75caeb;
  padding:5px;
  margin-top:5px;
  margin-bottom: 0px;
}

.category-level2-heading a {
  color: #fff;;
}

.category-level3-heading a {
  color:#fff;
}

.panel-danger .panel-heading a, .panel-primary .panel-heading a {
  color:#fff;
}

#credits ul li {
  margin-bottom: 10px;
}


/* D3 */

text {
  font-size:11px;
  fill:#333;
}


/* Treemap */
.node {
  border: solid 1px #eee;
  color:#333;
  font-size: 11px;
  line-height: 13px;
  overflow: hidden;
  position: absolute;
  padding:4px;
  text-align: left;
}

.cell text {
  cursor: default;
}

/* Circle Pack */
.node {
  cursor: pointer;
}

.node--leaf {
  fill: white;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

/* Multiline chart */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2px;
}

/* Tooltips */
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: #333;
  color: #eee;
  border-radius: 2px;
  font-size:11px;
  text-align: center;
  border:1px solid #000;
  position: absolute;
  top: 0;
  left: 0;
}

.d3-tip p {
  font-weight: 600;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #333;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}